@use "../variables.module.scss" as v;
@use "../mixins.module.scss" as m;

.main{
   flex-grow: 1;
   max-width: 100vw;
   display: grid;
   grid-template-columns: min-content auto min-content;
   column-gap: 26px;
   position: relative;
   &__title{
      $title-size: 42px;
      @if v.$device == small{
         $title-size: 20px;
      }
      font-weight: bold;
      font-size: 42px;
   }
}