@use "~normalize.css" as *;
@use "./variables.module.scss" as v;
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,p,div{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    font-size: v.$font-size;
}
body {
    min-height: 100vh;
}