@use "./variables.module.scss" as v;
@mixin flex-dir($dir){
    display: flex;
    flex-flow: $dir;
}

@mixin column-center{
    @include flex-dir(column);
    justify-content: center;
    align-items: center;
}

@mixin slide-appearence($precent: 90%){
    transition: transform 1s ease-in;
    transform: translate(-$precent);
    &:hover{
        transform: translate(0);
    }
}
@mixin hover-effect{
    &:hover{
        cursor: pointer;
        color: whitesmoke;
    }
}
@mixin rounded-input{
    border-color: v.$coal-color;
    flex-grow: 1;
    border-radius: v.$border-radius;
    padding: 10px;
}
@mixin rounded-button{
    width: 100%;
    height: min-content;
    background-color: transparent;
    border-radius: v.$border-radius;
    font-size: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    &:hover{
        cursor: pointer;
    }
    &:disabled{
        color: v.$faded-color;
        &:hover{
            cursor: not-allowed;
            color: v.$faded-color;
        } 
    }
}
@mixin stacked ($dim){
    grid-area: stack;
    display: grid;
    grid-template-columns: repeat(auto-fill, $dim);
    row-gap: 10px;
    gap: 10px;
    align-items: center;
    padding: v.$padding-default;
    padding-left: 0;
    padding-right: 0;
}
@mixin form{
    @include flex-dir(column);
    flex-grow: 1;
    justify-self: center;
    
    justify-content: center;
    background-color: v.$offer-background;
    
    justify-content: flex-start;
    height: 100%;
    gap: 10px;
    
}