@use "../variables.module.scss" as v;
@use "../mixins.module.scss" as m;


.footer{
    @include m.flex-dir(column);
    justify-content: center;
    align-items: flex-start;
    padding-top: 16px;
    gap: 10px;
    &__text{
        font-size: 14px;
    }
}