@use "../variables.module.scss" as v;
@use "../mixins.module.scss" as m;

.header{
    display: grid;
    grid-template-columns: min-content 1fr max-content;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid v.$coal-color;
    padding: 10px;
    gap: 16px;
    position: sticky;
}

