@use "../variables.module.scss" as v;
@use "../mixins.module.scss" as m;

.user-offers-area{
    @include m.flex-dir(column);
    align-items: center;
    border-left: 1px solid v.$coal-color;
    border-bottom: 1px solid v.$coal-color;
    padding: v.$padding-default;
    height: fit-content;
    &__title{
        margin-bottom: 16px;
        text-align: center;
        border-bottom: 2px solid v.$coal-color;
        width: 100%;
        &_not-found{
            font-size: 16px;
            border: none;
            color: rebeccapurple;
        }
    }
    &{
        position: sticky;
        top: 15px;
    }
}

.user-offers-list{
    margin: 6px;
    @include m.flex-dir(column);
    height: fit-content;
    max-height: 60vh;
    overflow: scroll;
    gap: 8px
}

.user-offer{
    @include m.flex-dir(row);
    @include m.card-hover-effect(2px);
    min-width: 408px;
    margin: 4px;

    &__image{
        $dim: 148px;
        width: $dim;
        height: $dim;
    }
    &__description{
        @include m.flex-dir(column);
        gap: 10px;
    }
    &__name{
        color: v.$ref-text-color;
        font-size: 22px;
    }
    &__price{
        font-weight: bold;
        font-size: 22px;
    }
    &__date{
        font-size: 18px;
        font-weight: lighter;
    }
}